body{
    background-color: #FBEA9D;
}

h1{
    color: #E32636;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5;
}

p{
    font-size: 20px;
    color: #0A2463;
}

.lens{
    width: 130px;
    height: 130px;
}

.testImg{
    background-color: #C0D6DF;
    padding: 40px;
    box-shadow: 5px 5px 5px #EFE6DD;
    width: 70%;
    float: none;
    height: 80%; 
    border-radius: 10px;
    margin: 20px;
}

h4{
    font-size: 16px;
    padding-left: 280px;
}

h5{
    font-size: 18px;
    background-color: #CD3C4D;
    color: whitesmoke;
    border-radius: 30px;
    padding: 5px;
}

li{
    font-size: 18px;
}

img{
    border-radius: 10px;
}

#result{
    background-color: #C0D6DF;
    padding: 20px;
    box-shadow: 5px 5px 5px #EFE6DD;
    width: 70%;
    float: none;
    font-size: 20px;
    border-radius: 10px;
    margin: 20px;
}